@font-face {
    font-family: 'DigitalNumbers';
    src: url("\\fonts\\digital-7.ttf");
}

body {
    background-color: #121212;
}
.btn {
    height: 5em;
    width: 5em;
    margin: 0.1em;
    color: #FFFFFF;
    background-color: #252525;
}
.btn:hover {
    background-color:#494949;
    transition: 0.3s;
}

.buttonRow {
    display: flex;
}

.display {
    font-size: 48px;
    font-family: 'DigitalNumbers';
    align-self: end;
    color: #FFFFFF;
}

.calculator {
    padding: 16px;
    border: 4px outset black;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.clear {
    color: #ff0000;
}