@font-face {
    font-family: 'DigitalNumbers';
    src: url("fonts\\digital-7.ttf");
}

body {
    background-color: #121212;
}
.btn {
    font-size: 16px;
    height: 70px;
    width: 70px;
    margin: 1px;
    color: #FFFFFF;
    background-color: #181818;
}
.btn:hover {
    background-color:#494949;
    transition: 0.3s;
}

.buttonRow {
    display: flex;
}

.display {
    font-size: 48px;
    font-family: 'DigitalNumbers';
    align-self: end;
    color: #FFFFFF;
    margin: 10px;
}

.calculator {
    padding: 16px;
    border: 10px double #494949;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.clear {
    color: #ff0000;
}