@font-face {
    font-family: 'DigitalNumbers';
    src: url("\\fonts\\digital-7.ttf");
}


.btn {
    height: 5em;
    width: 5em;
    margin: 0.1em;
}

.buttonRow {
    display: flex;
}

.display {
    font-size: 48px;
    font-family: 'DigitalNumbers';
}

.calculator {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}